.rodape {
    align-items: center;
    background: #C4C4C4;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 5rem;
    text-transform: lowercase;
}

.rodape__texto {
    color: #fdfdfd;    
    font-weight: 300;
}

@media screen and (min-width: 0) {
    .rodape__texto{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .rodape__texto{
        font-size: 1.3rem;
    }
}
