.pessoa__imagem {
    border-radius: 100%;
}

.pessoa__imagem--roberta {
    background: url('../../images/pessoas/roberta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pessoa__imagem--marcela {
    background: url('../../images/pessoas/marcela.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pessoa__imagem--andreia {
    background: url('../../images/pessoas/andreia.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 0) {
    .pessoa__imagem {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 992px) {
    .pessoa__imagem {
        height: 300px;
        width: 300px;
    }
}